
frontend/package.json
frontend/pnpm-lock.yaml
frontend/pnpm-workspace.yaml
frontend/node_modules/
Backend/target/
Backend/.idea/
frontend/.next/
frontend/next-env.d.ts
Backend/mcp-server/HELP.md
Backend/mcp-client/HELP.md
Backend/HELP.md